html {
  font-size: 			10pt;
  height: 				100%;
  background-color:		rgb(235,255,235);
  font-family:			"Verdana";
}

label, input, output {
  display:			inline-block;
  vertical-align:	middle;
  float: 			none;
}

label {
  width:		6em;
  font-variant:	small-caps;
  font-weight:	bold;
}

#imgdiv {
  float: 		left;
  margin: 		1em;
  max-width:	20%;
  text-align: 	center;
}

#div_form {
	margin-left: 1em;
	margin-bottom: 1em;
}

#div_mid {
	max-height: 100%;
	overflow-y: scroll;
}

#img {
	max-width: 100%;
}

#rag {
	width: 				100%; 
	background-color:	red
}

code {
	color:		red;
	font-size:	0.9em;
}

h3 {
	margin:		1em 0em 0em;
}
