html {
  font-size: 			11pt;
  height: 				100%;
  background-color:		rgb(235,255,235);
  font-family:			"Verdana";
}

label, input, output {
  display:			inline-block;
  vertical-align:	middle;
  float: 			none;
}

label {
  width:	6em;
}

#imgdiv {
  float: left;
  margin: 1em;
}

#rag {
	width: 100%; 
	background-color: red
}

code {
	color:		red;
	font-size:	0.9em;
}

h3 {
	margin:	1em 0em 0em;
}
